$bg--white: #fbfbfb;
$bg--light: #ffffff;
$bg--nav: #101820;
$bg--dark: #101820;
$bg--text: #bebebe;
$bg--input: #cccccc;
$bg--grey: #f8f9fa;
$bg--teritory: #f6f6f6;
$bg--primary: #007bff;
$bg--secondary: #FF7F50;
$bg--tertiary: #DE3163;
$bg--quaternary: #9FE2BF;
$bg--quinary: #6dff33; //ff3333
$bg--senary: #dc3545;
$bg--border: #e1e1e1;

$font--primary: 'Roboto', sans-serif;
$font--secondary: 'Prata', serif;

$box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);